.hidden {
  display: none;
}
.center{ 
  Display: flex; 
  Align-Items: center;
  Justify-Content: center;
  Width: 100vw; 
  }
  .centerImg{ 
    Display: flex; 
    Align-Items: center;
    Justify-Content: center;
    Width: 50vw; 
    margin-left: 25%;
    }
.textBox {
  margin-left: 2%;
  width: 96%;
  background-color: #c5c6c7;
}
.title {
  font-size: large;
  font-weight: bold;
}
.blastButton {
  background-color: #1f2833;
  color: #66fcf1;
}
