/* .DNA {
  The image used */
/* background-image: url(../utils/backgroundImages/DNA_Helix.png);

  Full height
  height: 100%;

  Center and scale the image nicely
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
/* } */
.DNA {
  text-align: center;
  opacity: 100%;  
}
.header {
  Width: 30vw; 
  margin-left: 35%;
  color: black;
}

.cardBody {
  Width: 40vw;
  margin-top:15%;
  margin-left: 30%;
  color: black;
  font-size: larger;
}